@tailwind base;
@tailwind components;

.read {
    color:white;
    border: 2px solid #a21caf;
    border-radius:20px;
    height: 40px;
    width:100px;
    background-color: #c026d3;
    padding: 4px;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
  }
  
  .read:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #e879f9;
    transition: all 0.3s;
    border-radius: 20px;
    z-index: -1;
  }
  
  .read:hover:before {
    width: 100%;
  }

@tailwind utilities;

#div1{
    position: relative;
    left:12px;

}
#div2{
    position: relative;
    right:12px;

}

#blank{
    background: linear-gradient(300deg, rgb(39, 0, 93), rgb(148, 0, 255), rgb(174, 210, 255), rgb(228, 241, 255));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    width: 100%;
    
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#blank p{
  position:relative;
  margin-right:20px;
  text-shadow: 0 0 5px #7c3aed, 0 0 10px #5b21b6;

}